<section id="for-position">
  <div class="row align-left">
    <h1>For Schools</h1>
  </div>
  <div class="row align-center">
    <div class="small-8 medium-3 columns">
      <div class="card">
        <div class="card-section">
          <img src="assets/img/photos/cc123.jpg" />
        </div>
        <div class="columns">
          <h4>Core Concepts</h4>
          <p>Being prepared for college and the workforce is important! I wan't to focus on promoting core skill development in the classroom to set students up to succeed moving forward.</p>
        </div>
      </div>
    </div>
    <div class="small-8 medium-3 columns">
      <div class="card">
        <div class="card-section">
          <img src="assets/img/photos/cc137.jpg" />
        </div>
        <div class="columns">
          <h4>Graduation Rates</h4>
          <p>I want to address graduation rates by promoting and sparking kids interest in college earlier on, specifially targeting middle school students - letting students know the possibilites the future has in store for them, as well, creating outlets and pathways for them to acheive those goals. </p>
        </div>
      </div>
    </div>
    <div class="small-8 medium-3 columns">
      <div class="card">
        <div class="card-section">
          <img src="assets/img/photos/cc139.jpg" />
        </div>
        <div class="columns">
          <h4>Inspire Learning</h4>
          <p>Collaborating with local companies and programs I aim to find new ways of sparking students interest in school by allowing for more opportunites for students to gain desired skills.</p>
        </div>
      </div>
    </div>
  </div>


  <div class="row align-left">
    <h1>On the Board</h1>
  </div>
  <div class="row align-center">
    <div class="small-8 medium-3 columns">
      <div class="card">
        <div class="card-section">
            <img src="assets/img/photos/cc72.jpg" />
        </div>
        <div class="columns">
          <h4>Communication</h4>
          <p>I can be persuasive and able to connect with kids, parents, local companies. As well, I can work alongside my other members of the board on hard issues in a collaborative way, accomadating and being understanding of others viewpoints. </p>
        </div>
      </div>
    </div>
    <div class="small-8 medium-3 columns">
      <div class="card">
        <div class="card-section">
          <img src="assets/img/photos/cc62.jpg" />
        </div>
        <div class="columns">
          <h4>Collaboration</h4>
          <p>I'll look to build partnerships with companies and other local business to aid in the effort of imporving our education system. </p>
        </div>
      </div>
    </div>
    <div class="small-8 medium-3 columns">
      <div class="card">
        <div class="card-section">
        <img src="assets/img/photos/cc73.jpg" />
        </div>
        <div class="columns">
          <h4>Diversify</h4>
          <p>If elected, I would be honored to be the only Latino member on the board. I would look to use this to my advantage in helping address issues facing the Latino community that composes over 36% of our student body.</p>
        </div>
      </div>
    </div>
  </div>
</section>
