<section id="bio">
  <div class="row align-middle">
    <div class="small-12 medium-4 large-4 columns">
      <div class="bio-image">
          <img src="assets/img/photos/alexander01.png"  />
      </div>
    </div>
  	<div class="small-12 medium-8 columns">
      <blockquote>Thank you for you interest and support! I'm running for Hillsboro Schoolboard Position 6 to make a difference for students and families here in the Hillsboro area. I want to work for you to bridge the gap between schools and our community via friendships. Connecting our schools, students, their families, and local businisses to allow for more opportunitites. I beleive that creating these friendships will not only have a lasting impact on community, but it will greatly benefit our students and their futures.<br /><br />
      After working as chair of the board member at the Centro Cultural Coalition, and vice chair at the Cultural Coalition of Washington County, I'm ready to take the next step forward by running for the Hillsboro Schoolboard Position 6. I believe this will be a great opportunity for me to make a difference for students and families, representing working families and speaking on their behalf. As a Latino, I would also love the opportunity to serve as a member who represents the 36% of students and families who share this same heritage. I will strive hard to represent those who feel under represented.
      <br />
      <br />
    Thank you for your support!
      </blockquote>
      <cite>Alexander Flores</cite>
  	</div>
  </div>
</section>
