<link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
<footer class="footer">
  <div id="footer" class="row">
    <div class="small-12 medium-6 large-5 columns">
      <p class="logo"><i class="fi-shield"></i> ALEXANDER FLORES</p>
      <p class="footer-links">
        <a href="#">Home</a>
        <a href="#">Mission</a>
        <a href="#">On The job</a>
        <a href="#">Donate</a>
        <a href="#">Contact</a>
      </p>
      <p class="copywrite">Copywrite not copywrite © 2015</p>
    </div>
    <div class="small-12 medium-6 large-4 columns">
      <ul class="contact">

        <li><p><i class="fi-telephone"></i>971-453-9966</p></li>
        <li><p><i class="fi-mail"></i>alexflores13@gmail.com</p></li>
      </ul>
    </div>
    <div class="small-12 medium-12 large-3 columns">
      <p class="about">Questions or Comments?</p>
      <p class="about subheader">Feel free to contact me. I look forward to hearing your ideas and getting your input!</p>
    </div>
  </div>
</footer>
