<section id="lander">
  <img src="assets/img/photos/classroom.jpg" />
  <div class="title align-center">
    <h1>ALEXANDER FLORES</h1>
    <p>for</p>
    <h3>Hillsboro Schoolboard Position 6</h3>
  </div>
  <div class="statement">
    <div class="quote">
      <img src="assets/img/photos/voice.svg" />
      <p>"I beleive in a better future... our children."</p>
    </div>
  </div>
  <div class="picture">
    <div class="image">
      <img src="assets/img/photos/alexander03.png" />
    </div>
  </div>
</section>
